In [1]:
import pandas as pd

In [2]:
#read csv file
dataP = pd.read_csv("sportDataset.csv", header=0, quoting=0, delimiter=",")

In [3]:
#dimension of data
dataP.shape

(130982, 5)

In [4]:
#first 5 rows of data
dataP.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
0,2009-06-1,TeDol,ew no! . lol.my friend chelsea dem.we just go...,amberbadbxtch,0
1,2009-06-1,"num3yankfan,",", what hapened to the yankes last night?",johnmac_cabinet,0
2,2009-06-1,wtg2,i think they overpaid but kaka and ronaldo on...,echavez9,0
3,2009-06-1,Stelers_news),Pitsburgh Stelers Superbowl Ring 209 Pics Pict...,hilbilytiley,4
4,2009-06-1,exohbela,"What kind of ""New Yorker"" isn't a Yankes fan?...",cityseducti0n,0

In [5]:
#last 5 rows of data
dataP.tail()

,Date_time,Indegree,Message,Outdegree,Sentiment
130977,2009-12-31,deseanjackson10,#FT09 I'm so blesed 2 be meh real talk. no hum...,mon321,4
130978,2009-12-31,ArwenAnaNg,"Ok, I wil let u get on w your Dr Katz, but fi...",slothandgluton,0
130979,2009-12-31,olbalcoach,The NFL rarely adapts to anything lol. I thin...,dapa191,4
130980,2009-12-31,Str8tarow,oh yea did you hear the NFL might not have a ...,okc_casey,0
130981,2009-12-31,youngtahoe,Nah. Ya Starving. But We Done With This 4 The...,high3rstatus,4

In [6]:
#select all rows from date_time column that starts with "2009-12-"
dec = dataP.loc[dataP['Date_time'].str.contains("2009-12-")]

In [7]:
#first 5 rows of data
dec.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
119960,2009-12-01,StacyKeibler,"Being an obvious Ravens & NFL fan, I was wond...",quasardj,0
119961,2009-12-01,KAcom,I'm going with the #Saints tonight over #Patr...,izyjsmom,0
119962,2009-12-01,SI_JimTroter,I know with the NFL you're not suposed to thi...,bojackruso,4
119963,2009-12-01,jilgundy,FYI: I became a Saints fan thre years ago. I ...,stephnmcdonald,4
119964,2009-12-01,twersky,I'd rather se charlie ward batle jarmarcus ru...,smileyoufckers,4

In [8]:
#group the data-set by outdegree coloumn by the size to a new dataframe
t = dec.groupby("Outdegree").size()

In [9]:
# first three values of data
t[:3]

Outdegree
04hodgeh    1
07an        1
09peter     1
dtype: int64

In [10]:
#select/filter all users with a conversation greater than or equal to 6
s= t[t>=2]

In [65]:
# first three values of data
s[:3]

Outdegree
0402sgrl     67
14gotit       2
15th_imam     3
dtype: int64

In [11]:
#s.to_csv("sportoutdegreegreaterthan2.csv")

In [12]:
t = pd.read_csv("sportoutdegreegreaterthan2.csv", header=0, quoting=0, delimiter=",", error_bad_lines=False)

In [13]:
#first 5 columns of selected conversation of a threshold of 6
t.head()

       Outdegree  Freq
0      12loveyou     2
1      13becafod     2
2         167890     2
3     1965eperez     4
4  1blondewonder     2

In [14]:
#convert the column outdegree to series
j =t.Outdegree

In [15]:
# first three values of outdegree
j[:3]

0    12loveyou
1    13becafod
2       167890
Name: Outdegree, dtype: object

In [16]:
# convert series data-set to a list
k= j.tolist()

In [17]:
# first three values of list
k[:3]

['12loveyou', '13becafod', '167890']

In [18]:
#select all rows that outdegree that has users that is on list in k
re = dataP.loc[dataP['Outdegree'].isin(k)]

In [19]:
#shape of the filtered dataset
re.shape

(8964, 5)

In [20]:
#first 5 rows of filtered dataset
re.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
11,2009-06-1,QBKILA,was dancin with the stars years ago - nice fo...,mondaymorningqb,4
12,2009-06-1,michaelstrahan,was dancin with the stars years ago - nice fo...,mondaymorningqb,4
76,2009-06-12,qbkila,VIDEO: Young ready to play (again) - #nfl #cas...,mondaymorningqb,4
153,2009-06-12,SubtleBlade,I am quite kind.! It loks great. wherever you...,charonqc,4
187,2009-06-13,RockinPRGirl,I hear your NFL team is prety god to. Stel Ci...,noneyouknow,4

In [21]:
"""" from the threshold dataset of users with conversations greater than 6, filter all rows in date_time that contains 
#2009-120"""

indegr = re.loc[re['Date_time'].str.contains("2009-12-")]

In [22]:
#first 5 columns of filtered december data-set rows
indegr.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
119966,2009-12-01,Dubslondoner,I'l do it 4 u when it's 2 do with Chelsea! Ju...,ebonyjknight,4
119968,2009-12-01,Gr8BigNerd,Aw . I supose I'l take the #Saints #Stelers S...,dejune17,0
119972,2009-12-01,itschelseastaub,URL - chelsea and nicole s2 super perfect! DI...,thay_k,4
119977,2009-12-01,gw3,Now that's funy. I suspect there are more tha...,bawldguy,4
119978,2009-12-01,AsianPersuazion,Thats amazing that ur working for the Yankes ...,nweiser09,4

In [23]:
#the december data-set  select the indegree columns and convert to a series 
edges =indegr.Indegree

In [24]:
#first three values of indegree
edges[:3]

119966       Dubslondoner
119968         Gr8BigNerd
119972    itschelseastaub
Name: Indegree, dtype: object

In [25]:
# series dataset of indegree of december data convert to list
ed= edges.tolist()

In [26]:
#first three values of the list
ed[:3]

['Dubslondoner', 'Gr8BigNerd', 'itschelseastaub']

In [27]:
#select all rows that outdegree that has users that is on list in k
mained = re.loc[re['Indegree'].isin(ed)]

In [28]:
#first three rows of data
mained[:3]

,Date_time,Indegree,Message,Outdegree,Sentiment
11,2009-06-1,QBKILA,was dancin with the stars years ago - nice fo...,mondaymorningqb,4
12,2009-06-1,michaelstrahan,was dancin with the stars years ago - nice fo...,mondaymorningqb,4
76,2009-06-12,qbkila,VIDEO: Young ready to play (again) - #nfl #cas...,mondaymorningqb,4

In [29]:
#shape of the filtered dataset
mained.shape

(5506, 5)