In [5]:
import pandas as pd

In [6]:
#read csv file
dataP = pd.read_csv("politicsDataset.csv", header=0, quoting=0, delimiter=",")

In [7]:
#dimension of data
dataP.shape

(219932, 5)

In [8]:
#first 5 rows of data
dataP.head()

,Indegree,Message,Outdegree,Sentiment,Date_time
0,rodgerma),Did you hear about this guy praying to his god...,tergiversant,4,2009-06-1
1,BOTelemprompter,"has a busy, busy day. How does it fel to fil ...",youvegotamy,4,2009-06-1
2,majoratWH,"let me gues, a healthcare photo op, with no s...",jumpin_jac,4,2009-06-1
3,MedicalVilage),Dr. Crow: Did you know 5% of your employes cos...,vhpdocs,0,2009-06-1
4,msnbc:,Obama's pastor. He has bad timing! It wil tie ...,todgrich,0,2009-06-1

In [9]:
#last 5 rows of data
dataP.tail()

,Indegree,Message,Outdegree,Sentiment,Date_time
219927,Omid_M,-<-My piece about the IRGC and Irans Economy:...,iranpr,0,2009-12-31
219928,JanSimpson,Profiling inded works; conservatives profiled...,katyinindy,0,2009-12-31
219929,jilevin,I stand by my vote. Obama's not the problem. ...,carolaninwv,4,2009-12-31
219930,cn,"Hm. Best (er, worst) of 209: Obama cult educat...",dncdudes,0,2009-12-31
219931,adthis,Music Video for #Iran #Iranelection Abjez: Man...,leilasadeghi,0,2009-12-31

In [10]:
#select all rows from date_time column that starts with "2009-12-"
dec = dataP.loc[dataP['Date_time'].str.contains("2009-12-")]

In [11]:
#first 5 rows of data
dec.head()

,Indegree,Message,Outdegree,Sentiment,Date_time
204111,jamaicanmami,yes man he was the hope for black pl 2realy l...,popa2smoth,0,2009-12-01
204112,twetcongres,your Right it could be aplied to almost any f...,bunyramey,0,2009-12-01
204113,NewsBusters,": NYT Isues 1,0 Gushing Words on Obama's 'Gli...",co2hog,4,2009-12-01
204114,liberalchick230,I would not agre that Obama's first year has ...,meanderingsoul,4,2009-12-01
204115,Sonja_Jo),URGENT: FRE KIAN 209 [Sign the Petition] + vid...,persia_max_news,0,2009-12-01

In [62]:
#group the data-set by outdegree coloumn by the size to a new dataframe
t = dec.groupby("Outdegree").size()

In [63]:
# first three values of data
t[:3]

Outdegree
0402sgrl      67
04bluepony     1
0x4            1
dtype: int64

In [64]:
#select/filter all users with a conversation greater than or equal to 6
s= t[t>=2]

In [65]:
# first three values of data
s[:3]

Outdegree
0402sgrl     67
14gotit       2
15th_imam     3
dtype: int64

In [41]:
s.to_csv("politicsoutdegreegreaterthan2.csv")

In [42]:
t = pd.read_csv("politicsoutdegreegreaterthan2.csv", header=0, quoting=0, delimiter=",", error_bad_lines=False)

In [43]:
#first 5 columns of selected conversation of a threshold of 6
t.head()

         Outdegree  Freq
0         0402sgrl    67
1          14gotit     2
2        15th_imam     3
3       1ecgoinguy     4
4  1honestamerican     2

In [44]:
#convert the column outdegree to series
j =t.Outdegree

In [58]:
# first three values of outdegree
j[:3]

0     0402sgrl
1      14gotit
2    15th_imam
Name: Outdegree, dtype: object

In [45]:
# convert series data-set to a list
k= j.tolist()

In [59]:
# first three values of list
k[:3]

['0402sgrl', '14gotit', '15th_imam']

In [46]:
#select all rows that outdegree that has users that is on list in k
re = dataP.loc[dataP['Outdegree'].isin(k)]

In [47]:
#shape of the filtered dataset
re.shape

(52401, 5)

In [48]:
#first 5 rows of filtered dataset
re.head()

,Indegree,Message,Outdegree,Sentiment,Date_time
8,PoliticsLeft),Obama Health Care Push Goes On The Road URL (v...,tm_lifestyle,4,2009-06-1
27,jaketaper,did anyone ask Obama about this obesity item ...,theanchores,4,2009-06-1
33,GStephanopoulos),"Ahmadinejad: ""The Future is Promising."" Realy?...",pmoalemian,4,2009-06-1
54,BarackObama,"Obama, you're a socialist, you fit the defini...",obamabenlying,4,2009-06-1
55,Whitehouse,"Obama, you're a socialist, you fit the defini...",obamabenlying,4,2009-06-1

In [49]:
"""" from the threshold dataset of users with conversations greater than 6, filter all rows in date_time that contains 
#2009-120"""

indegr = re.loc[re['Date_time'].str.contains("2009-12-")]

In [50]:
#first 5 columns of filtered december data-set rows
indegr.head()

,Indegree,Message,Outdegree,Sentiment,Date_time
204112,twetcongres,your Right it could be aplied to almost any f...,bunyramey,0,2009-12-01
204113,NewsBusters,": NYT Isues 1,0 Gushing Words on Obama's 'Gli...",co2hog,4,2009-12-01
204114,liberalchick230,I would not agre that Obama's first year has ...,meanderingsoul,4,2009-12-01
204115,Sonja_Jo),URGENT: FRE KIAN 209 [Sign the Petition] + vid...,persia_max_news,0,2009-12-01
204117,franosch),NYTimes: Snr Cleric Montazeri Denounces #Iran ...,magicspin,0,2009-12-01

In [51]:
#the december data-set  select the indegree columns and convert to a series 
edges =indegr.Indegree

In [57]:
#first three values of indegree
edges[:3]

204112        twetcongres
204113        NewsBusters
204114    liberalchick230
Name: Indegree, dtype: object

In [52]:
# series dataset of indegree of december data convert to list
ed= edges.tolist()

In [56]:
#first three values of the list
ed[:3]

['twetcongres', 'NewsBusters', 'liberalchick230']

In [53]:
#select all rows that outdegree that has users that is on list in k
mained = re.loc[re['Indegree'].isin(ed)]

In [55]:
#first three rows of data
mained[:3]

,Indegree,Message,Outdegree,Sentiment,Date_time
27,jaketaper,did anyone ask Obama about this obesity item ...,theanchores,4,2009-06-1
54,BarackObama,"Obama, you're a socialist, you fit the defini...",obamabenlying,4,2009-06-1
55,Whitehouse,"Obama, you're a socialist, you fit the defini...",obamabenlying,4,2009-06-1

In [54]:
#shape of the filtered dataset
mained.shape

(31509, 5)