In [1]:
import pandas as pd

In [2]:
#read csv file
dataP = pd.read_csv("technologyDataset.csv", header=0, quoting=0, delimiter=",")

In [3]:
#dimension of data
dataP.shape

(152374, 5)

In [4]:
#first 5 rows of data
dataP.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
0,2009-06-1,engadget,#gadgets Archos anounces Archos9 Windows 7 tab...,m1h1m1,4
1,2009-06-1,jonhickman,love that someones twetdeck went of at 0:4 an...,brumy_dan,4
2,2009-06-1,saca,Sory about the Iphone. Maybe it's to try the ...,jason_jasura,4
3,2009-06-1,digprof,there are a number of new features in Atendan...,davered,4
4,2009-06-1,fritzg,"gogle wave, as i se it, is like a lifestream ...",dtatusko,4

In [5]:
#last 5 rows of data
dataP.tail()

,Date_time,Indegree,Message,Outdegree,Sentiment
152369,2009-12-31,bonyface,godbye 209 don't let the dor hit you in the a...,paulshadwel,4
152370,2009-12-31,XavierLanier,Hope to se at #CES 2010. I wil be ariving on F...,steven_james,4
152371,2009-12-31,cindyloves7,"download twetdeck and watch the video, it's a...",buzedition,4
152372,2009-12-31,nazgul,"the web says it ""launches at CES"" ie. in a fe...",eichin,0
152373,2009-12-31,CesLSU,"Oh Ces, my dear dear friend you are going to ...",marybeth6,0

In [6]:
#select all rows from date_time column that starts with "2009-12-"
dec = dataP.loc[dataP['Date_time'].str.contains("2009-12-")]

In [7]:
#first 5 rows of data
dec.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
139183,2009-12-01,epynephrin,"I have a palm pre, but I'm geting tired of pa...",0geneva,0
139184,2009-12-01,JonathanEHod,What isue are you seing? Make sure you're upd...,jtranber,4
139185,2009-12-01,avitania,Hah - I was trying out Twetdeck's new retwet ...,lynchseatle,4
139186,2009-12-01,gorbitron,I got my Gogle Wave acount yesterday and I ha...,firethecanon,0
139187,2009-12-01,girlgeks,oh my fracking god I just got ANOTHER ONE! Ma...,motoko_k,0

In [8]:
#group the data-set by outdegree coloumn by the size to a new dataframe
t = dec.groupby("Outdegree").size()

In [9]:
# first three values of data
t[:3]

Outdegree
0317        1
0402sgrl    1
0geneva     1
dtype: int64

In [10]:
#select/filter all users with a conversation greater than or equal to 6
s= t[t>=2]

In [11]:
# first three values of data
s[:3]

Outdegree
1234hoty    3
173sud      4
1rick       4
dtype: int64

In [12]:
#s.to_csv("techoutdegreegreaterthan2.csv")

In [13]:
t = pd.read_csv("techoutdegreegreaterthan2.csv", header=0, quoting=0, delimiter=",", error_bad_lines=False)

In [14]:
#first 5 columns of selected conversation of a threshold of 6
t.head()

       Outdegree  Freq
0       1234hoty     3
1         173sud     4
2          1rick     4
3  21bieberfever     2
4            24k     3

In [15]:
#convert the column outdegree to series
j =t.Outdegree

In [16]:
# first three values of outdegree
j[:3]

0    1234hoty
1      173sud
2       1rick
Name: Outdegree, dtype: object

In [17]:
# convert series data-set to a list
k= j.tolist()

In [18]:
# first three values of list
k[:3]

['1234hoty', '173sud', '1rick']

In [19]:
#select all rows that outdegree that has users that is on list in k
re = dataP.loc[dataP['Outdegree'].isin(k)]

In [20]:
#shape of the filtered dataset
re.shape

(7876, 5)

In [21]:
#first 5 rows of filtered dataset
re.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
67,2009-06-1,inafried),"Who wins, loses with browser-les Windows 7 | B...",tm_technology,4
89,2009-06-12,Evernote,The ap for Palm Pre loks great: URL Thanks for...,cra1g,4
90,2009-06-12,palmsolo,The ap for Palm Pre loks great: URL Thanks for...,cra1g,4
94,2009-06-12,APCmag),APC: Windows 7 takes a final leak URL (via ),gary_whelhouse,4
117,2009-06-12,jamesbritonjr),Gizmodo - OS X Snow Leopard vs. Windows 7: The...,tm_technology,0

In [22]:
"""" from the threshold dataset of users with conversations greater than 6, filter all rows in date_time that contains 
#2009-120"""

indegr = re.loc[re['Date_time'].str.contains("2009-12-")]

In [23]:
#first 5 columns of filtered december data-set rows
indegr.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
139187,2009-12-01,girlgeks,oh my fracking god I just got ANOTHER ONE! Ma...,motoko_k,0
139204,2009-12-01,1litlebird,Congrats to who gave the most coments on my po...,ryjr,4
139207,2009-12-01,maty_silva,DO YOU WANT AN INVITE TO GOGLE WAVE? BECAUSE ...,then_word,0
139208,2009-12-01,sambear,DO YOU WANT AN INVITE TO GOGLE WAVE? BECAUSE ...,then_word,0
139209,2009-12-01,brirons,DO YOU WANT AN INVITE TO GOGLE WAVE? BECAUSE ...,then_word,0

In [24]:
#the december data-set  select the indegree columns and convert to a series 
edges =indegr.Indegree

In [25]:
#first three values of indegree
edges[:3]

139187      girlgeks
139204    1litlebird
139207    maty_silva
Name: Indegree, dtype: object

In [26]:
# series dataset of indegree of december data convert to list
ed= edges.tolist()

In [27]:
#first three values of the list
ed[:3]

['girlgeks', '1litlebird', 'maty_silva']

In [28]:
#select all rows that outdegree that has users that is on list in k
mained = re.loc[re['Indegree'].isin(ed)]

In [29]:
#first three rows of data
mained[:3]

,Date_time,Indegree,Message,Outdegree,Sentiment
777,2009-06-15,macworld,Software: loks at riping and burning CDs with ...,forgetcomputers,4
781,2009-06-15,TwetDeck,Did this just hapen with after updating it? I...,cnc137,4
820,2009-06-16,TwetDeck,"Sory if you think I'm having a moan, al I'd l...",markmcwiliams,4

In [30]:
#shape of the filtered dataset
mained.shape

(4863, 5)