In [54]:
import pandas as pd

In [70]:
dataTech = pd.read_csv("technologyDataset.csv", header=0, quoting=0, delimiter=",")

In [58]:
dataTech.shape

(152374, 5)

In [9]:
datTech.tail()

,Date_time,Indegree,Message,Outdegree,Sentiment
155321,209-12-31,bonyface,godbye 209 don't let the dor hit you in the a...,paulshadwel,4
155322,209-12-31,XavierLanier,Hope to se at #CES 2010. I wil be ariving on F...,steven_james,4
155323,209-12-31,cindyloves7,"download twetdeck and watch the video, it's a...",buzedition,4
155324,209-12-31,nazgul,"the web says it ""launches at CES"" ie. in a fe...",eichin,0
155325,209-12-31,CesLSU,"Oh Ces, my dear dear friend you are going to ...",marybeth6,0

In [59]:
dec = csv.loc[dataTech['Date_time'].str.contains("209-12-")]

In [60]:
dec.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
139183,209-12-01,epynephrin,"I have a palm pre, but I'm geting tired of pa...",0geneva,0
139184,209-12-01,JonathanEHod,What isue are you seing? Make sure you're upd...,jtranber,4
139185,209-12-01,avitania,Hah - I was trying out Twetdeck's new retwet ...,lynchseatle,4
139186,209-12-01,gorbitron,I got my Gogle Wave acount yesterday and I ha...,firethecanon,0
139187,209-12-01,girlgeks,oh my fracking god I just got ANOTHER ONE! Ma...,motoko_k,0

In [39]:
t = dec.groupby("Outdegree").size()

In [61]:
s= t[t>=6]

In [41]:
#s.to_csv("techoutdegreegreaterthan6.csv")

In [63]:
threshhold = pd.read_csv("techoutdegreegreaterthan6.csv", header=0, quoting=0, delimiter=",", error_bad_lines=False)

In [64]:
threshhold.head()

        Outdegree  Freq
0     ankushkohli    23
1      buzedition    33
2      ciaobela50     6
3  dinunziodavide    26
4         drdon91     7

In [65]:
j =t.Outdegree

In [66]:
k= j.tolist()

In [67]:
k

['ankushkohli',
 'buzedition',
 'ciaobela50',
 'dinunziodavide',
 'drdon91',
 'femaleprodigy',
 'getwhirled',
 'jesrosenboks',
 'jo_adelaide',
 'josh347',
 'joycescapade',
 'justplainbil',
 'krystynchong',
 'kwright39',
 'marketmetwets',
 'mkayes',
 'moneygraphics',
 'morningwipe',
 'moyelo',
 'neverlevel',
 'r4r',
 'ragingbitch',
 'scobleizer',
 'shaqirhusyin',
 'sherylowry',
 'spreadingjoy',
 'strandedwind',
 'the_tech_update',
 'tom_waren',
 'vara41',
 'vickyschultz',
 'winobs',
 'zenergyworks']

In [68]:
re = csv.loc[csv['Indegree'].isin(k)]

In [69]:
re.shape

(194, 5)