In [2]:
import pandas as pd

In [66]:
data = pd.read_csv("sportsDataset.csv", header=0, quoting=0, delimiter=",")

In [67]:
data.shape

(130982, 5)

In [68]:
data.tail()

,Date_time,Indegree,Message,Outdegree,Sentiment
130977,209-12-31,deseanjackson10,#FT09 I'm so blesed 2 be meh real talk. no hum...,mon321,4
130978,209-12-31,ArwenAnaNg,"Ok, I wil let u get on w your Dr Katz, but fi...",slothandgluton,0
130979,209-12-31,olbalcoach,The NFL rarely adapts to anything lol. I thin...,dapa191,4
130980,209-12-31,Str8tarow,oh yea did you hear the NFL might not have a ...,okc_casey,0
130981,209-12-31,youngtahoe,Nah. Ya Starving. But We Done With This 4 The...,high3rstatus,4

In [69]:
data = csv.loc[csv['Date_time'].str.contains("209-12-")]

In [70]:
data.head()

,Date_time,Indegree,Message,Outdegree,Sentiment
119960,209-12-01,StacyKeibler,"Being an obvious Ravens & NFL fan, I was wond...",quasardj,0
119961,209-12-01,KAcom,I'm going with the #Saints tonight over #Patr...,izyjsmom,0
119962,209-12-01,SI_JimTroter,I know with the NFL you're not suposed to thi...,bojackruso,4
119963,209-12-01,jilgundy,FYI: I became a Saints fan thre years ago. I ...,stephnmcdonald,4
119964,209-12-01,twersky,I'd rather se charlie ward batle jarmarcus ru...,smileyoufckers,4

In [71]:
outdegreeN = data.groupby("Outdegree").size()

In [72]:
#tweets greater than
outdegreeN[outdegreeN >=6]

Outdegree
305saintsgirl      13
alexrandles1       10
arunraven           6
atlantaj            6
bebzy              10
beritaindonesia    13
bigred12            7
bonkerbids         31
brchelseastaub      6
cfc8scot           17
christinamcflyx     6
devidrareg         16
djrmc24             6
hanahparle          8
holywodtino         8
jane_of_volturi     7
jbeliebers          7
jefhaseley         34
jeniswan           15
johal20             7
justinhoties        7
kenpot             20
kirsty09x           6
lashish             9
latehits           19
leahoneil           7
loinazcastro        7
ltdemo              8
luckystreaklive    11
market1plus        17
market812plus      12
misydanz            6
mizthicknes25      21
momzo17             6
monsterdof          9
mrsgernando_x      12
natalie_think       6
nelyviolet          8
nfl_fan10          50
nkotbgal21          9
nweiser09          16
playerpres          6
rotosleperz        10
samantha_may       12
shanefwray_ca       6
shazilzarok         6
shyneiv            13
spedyian            9
stefmara            6
stephenhack1989     7
stratcons          15
ticketz            14
ticketz_to_go      19
tm_nfl              7
yanke32879          8
yeazo               6
dtype: int64

In [73]:
interationT = outdegreeN[outdegreeN >=6]

In [74]:
interationT.to_csv("sportoutdegreegreaterthan6.csv")

In [60]:
t = pd.read_csv("sportoutdegreegreaterthan6.csv", header=0, quoting=0, delimiter=",", error_bad_lines=False)

In [61]:
t.head()

       Outdegree  Frequency
0  305saintsgirl         13
1   alexrandles1         10
2      arunraven          6
3       atlantaj          6
4          bebzy         10

In [62]:
#outdegree to series
j =t.Outdegree

In [63]:
#outdegree series to list
k= j.tolist()

In [64]:
#look up values that list in column Indegree
re = csv.loc[csv['Indegree'].isin(k)]

In [65]:
#dimension of the new data
re.shape

(327, 5)